<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="https://www.thymeleaf.org" lang="fr" class="h-100">
    <head>
        <meta charset="UTF-8"/>
        <title>Spring Boot + React starter</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Spring Boot + React starter">

        <link rel="stylesheet" type="text/css" href="/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/dist/css/main.min.css">

        <link rel="icon" type="image/png" href="/images/shortcut-icon.png">
    </head>
    <body class="d-flex flex-column h-100">
        <header th:replace="~{fragments/header :: header}"></header>
        <main class="container my-5" layout:fragment="content"></main>
        <footer th:replace="~{fragments/footer :: footer}"></footer>

        <script src="/js/bootstrap.bundle.min.js"></script>

        <th:block layout:fragment="moreScripts" />
    </body>
</html>