.todo-comp{
  border:1px solid #dedede;
  border-radius: 5px;
  padding:10px;
  margin:1em;
  position: relative;
  width: 300px;
  height: 200px;
  .date{
    position: absolute;
    top:0.2em;
    right:0.2em;
  }
  .status {
    position: absolute;
    bottom:0.2em;
    right:0.2em;
  }
}
