<header class="header" xmlns:th="https://www.thymeleaf.org" th:fragment="header">
    <nav class="navbar navbar-expand-md fixed-top bg-primary" data-bs-theme="dark">
        <div class="container">
            <a class="navbar-brand" href="/">Spring Boot + React starter</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a th:class="${requestURI == '/' ? 'nav-link active' : 'nav-link'}" href="/"><i class="fa-solid fa-house"></i> Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a th:class="${requestURI == '/react-example' ? 'nav-link active' : 'nav-link'}" href="/react-example"><i class="fa-brands fa-react"></i> Exemple React</a>
                    </li>
                    <li class="nav-item">
                        <a th:class="${requestURI == '/bootstrap-theme' ? 'nav-link active' : 'nav-link'}" href="/bootstrap-theme"><i class="fa-brands fa-bootstrap"></i> Thème Bootstrap</a>
                    </li>
                    <li class="nav-item">
                        <a th:class="${requestURI == '/todos' ? 'nav-link active' : 'nav-link'}" href="/todos"><i class="fa-solid fa-database"></i> CRUD</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item d-flex">
                        <a class="nav-link" href="https://github.com/Serli/springboot-react-starter" target="_blank"><i class="fa-brands fa-github"></i> Github</a>
                    </li>
                    <li class="nav-item d-flex">
                        <a class="nav-link" href="https://springboot-react-starter.cleverapps.io" target="_blank"><i class="fa-solid fa-cloud"></i> Clever Cloud</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>