<header class="header" xmlns:th="https://www.thymeleaf.org" th:fragment="header">
    <nav class="navbar navbar-expand-md sticky-top bg-primary" data-bs-theme="dark">
        <div class="container">
            <a class="navbar-brand" href="/">Spring Boot + React starter</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a th:class="${requestURI == '/' ? 'nav-link active' : 'nav-link'}" href="/">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a th:class="${requestURI == '/react-example' ? 'nav-link active' : 'nav-link'}" href="/react-example">Exemple React</a>
                    </li>
                    <li class="nav-item">
                        <a th:class="${requestURI == '/bootstrap-theme' ? 'nav-link active' : 'nav-link'}" href="/bootstrap-theme">Thème Bootstrap</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item d-flex">
                        <a class="nav-link" href="https://github.com/Serli/springboot-react-starter" target="_blank">Github</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>