<!DOCTYPE html>
<html layout:decorate="~{layouts/main}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="https://www.thymeleaf.org"  lang="fr">
<head>
    <title>Springboot + React starter - Exemple React</title>
    <meta name="description" content="Springboot + React starter - Exemple de composant React">
</head>
<body>
<main layout:fragment="content">
    <h1>Exemple de composant React</h1>
    <p class="debug">Bla bla bla</p>
    <div id="hello-world-container"></div>
</main>
<th:block layout:fragment="moreScripts">
    <script type="text/javascript" th:inline="javascript">
        function mountWidget() {
            HelloWorldWidget.mount({
                containerId: 'hello-world-container',
                name: [[${name}]]
            })
        }
    </script>
    <script src="/dist/js/HelloWorldWidget.js" onload="mountWidget()"></script>
</th:block>
</body>
</html>