<!DOCTYPE html>
<html layout:decorate="~{layouts/main}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="https://www.thymeleaf.org"  lang="fr">
<head>
    <title>Spring Boot + React starter - Accès à une base de données</title>
    <meta name="description" content="Spring Boot + React starter - Accès à une base de données">
</head>
<body>
<main layout:fragment="content">
    <h1>Un exemple de CRUD</h1>

    <p>Cette partie propose un exemple simple de CRUD pour la gestion d'une liste de TODOs.</p>

    <h2>Votre liste de TODOs</h2>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="fa-solid fa-plus"></i> Ajouter un TODO
    </button>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Ajouter un TODO</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" action="/todos/_create">
                    <div class="modal-body">
                        <input type="text" class="form-control" placeholder="Que devez vous faire ?" name="content" maxlength="100">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Ajouter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Contenu</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="todo: ${todos}">
            <td th:text="${todo.id}"></td>
            <td th:text="${todo.content}"></td>
            <td>
                <form method="post" action="/todos/_delete">
                    <input type="hidden" name="id" th:value="${todo.id}">
                    <button type="submit" class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>